<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from jupyterthemes import jtplot
jtplot.style(theme='monokai', context='notebook', ticks=True, grid=False)
plt.style.use("fivethirtyeight")
%matplotlib inline

In [78]:
chipotle =  pd.read_csv(DATA_FILE, sep='\t')

In [79]:
chipotle

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [80]:
chipotle.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [81]:
chipotle.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [82]:
chipotle.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [83]:
chipotle.quantity.value_counts()

1     4355
2      224
3       28
4       10
8        1
5        1
10       1
7        1
15       1
Name: quantity, dtype: int64

In [92]:
total_quantity = chipotle.quantity.sum()
total_quantity

4972

In [85]:
chipotle['item_price'] = chipotle['item_price'].str.replace('$','',regex=True)

In [101]:
chipotle['item_price'] = pd.to_numeric(chipotle['item_price'])
total_price = chipotle.item_price.sum()
total_price

34500.16

In [104]:
avg_price = total_price/total_quantity
print("Average price of an order: ${:.2f}".format(avg_price))

Average price of an order: $6.94

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [105]:
chipotle.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [202]:
can_soda = chipotle[chipotle.item_name == 'Canned Soda'].choice_description.unique()

In [201]:
can_soft = chipotle[chipotle.item_name == 'Canned Soft Drink'].choice_description.unique()

In [205]:
unique_sodas = []
for can in can_soda:
    unique_sodas.append(can)
for can in can_soft:
    unique_sodas.append(can)

unique_sodas

['[Sprite]',
 '[Dr. Pepper]',
 '[Mountain Dew]',
 '[Diet Dr. Pepper]',
 '[Coca Cola]',
 '[Diet Coke]',
 '[Coke]',
 '[Sprite]',
 '[Lemonade]',
 '[Diet Coke]',
 '[Nestea]']

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [224]:
chipotle['choice_description'][4617]

'[Fresh Tomato Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]]'

In [249]:
burrito = chipotle[chipotle['item_name'].str.contains("Burrito")]
burrito

,order_id,quantity,item_name,choice_description,item_price
7,4,1,Steak Burrito,"Tomatillo Red Chili Salsa, Fajita Vegetables, ...",11.75
9,5,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Pinto B...",9.25
16,8,1,Chicken Burrito,"Tomatillo-Green Chili Salsa (Medium), Pinto Be...",8.49
17,9,1,Chicken Burrito,"Fresh Tomato Salsa (Mild), Black Beans, Rice, ...",8.49
21,11,1,Barbacoa Burrito,"Fresh Tomato Salsa (Mild), Tomatillo-Green Chi...",8.99
...,...,...,...,...,...
4608,1829,1,Veggie Burrito,"Tomatillo Red Chili Salsa, Fajita Vegetables, ...",11.25
4610,1830,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",11.75
4611,1830,1,Veggie Burrito,"Tomatillo Green Chili Salsa, Rice, Fajita Vege...",11.25
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",11.75
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",11.75

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!